NODE_ENV=[test/development/production]
PG_HOST=[custom_value]
PG_PORT=[custom_value]
PG_TYPE=[custom_value]
PG_DATABASE=[custom_value]
PG_USERNAME=[custom_value]
PG_PASSWORD=[custom_value]
PG_SYNCHRONIZE=[custom_value]
PG_LOGGING=[custom_value]
SENTRY_DSN_URL=[custom_value]
API_KEY=[custom_value]
APP_URL=[custom_value]
GEO_LOCATION_API_KEY=[custom_value]
GEO_LOCATION_ACCOUNT_ID=[custom_value]
GCS_PROJECT_ID=[custom_value]
GCS_PRIVATE_KEY=[custom_value]
GCS_STORAGE_CLIENT_EMAIL=[custom_value]
GCS_STORAGE_BUCKET=[custom_value]
GCS_FILE_SIZE_LIMIT_IN_BYTES=[custom_value]